html {
    font-size: 125%;
}

body {
    background: #E4572E;
    color: $text-color;
    font-size: 2rem;
    font-family: $body-font;  
    line-height: 1.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
}



/* 
-think of warm colours vs cool
- bright & darker background
-white text
form - change color to orange
-make sure contrast is good for accessibility
- can add a harsh shadow
*/

section {
    border: 1px solid black;
}

header {
    text-align: center;
    padding-top: 15%;
}

h1 {
    font-family: $header-font; 
    line-height: 1.15;
    color: $text-color;
    font-size: 4rem;
}

h3 {
    font-family: $subheader-font;
    font-size: 1.75rem;
    margin-top: 10%;
    margin-bottom: 7%;
}

div.puppy {
    width: 50vw;
    padding-top: 5%;
    margin: 0 auto;

    img {
        max-width: 100%;
        width: 100%;
    }
}

p {
    font-size: 1.5rem;
}
 
section.questions {
    max-width: 100%;
    padding-top: 2%;
}
section.results {
    background: $accent-one;
}

span.result {
//styling for result word
    color: $accent-two;
}


// .hidden {
//     display: none;
// }

.show {
    display: block;
}

//for buttons, use 2 accent colors, one for hover state