html {
    font-size: 125%;
}

body {
    background: #E4572E;
    color: $text-color;
    font-size: 1.2rem;
    font-family: $body-font;  
    line-height: 1.6;
}

header {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h1, h3 {
        border: 1px solid orangered;
    }

}

/* 
-think of warm colours vs cool
- bright & darker background
-white text
form - change color to orange
-make sure contrast is good for accessibility
- can add a harsh shadow
*/

section {
    border: 1px solid orangered;
}

.wrapper {
    width: 960px;
    margin: 0 auto;

}

h1 {
    font-family: $header-font; 
    line-height: 1.15;
    color: $text-color;
    font-size: 6rem;
}

// h3 {
//     font-family: 2.5rem;
// }

.questions .wrapper {
    display: flex;
    justify-content: center;
}

section.results {
    background: $accent-one;
}



// .hidden {
//     display: none;
// }

.show {
    display: block;
}

//for buttons, use 2 accent colors, one for hover state