html {
    font-size: 125%;
}

body {
    background: $main-color;
    color: $text-color;
    font-size: 2rem;
    font-family: $body-font;  
    line-height: 1.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
}



/* 
-think of warm colours vs cool
- bright & darker background
-white text
form - change color to orange
-make sure contrast is good for accessibility
- can add a harsh shadow
*/


header {
    text-align: center;
    padding-top: 10%;
    height: 100vh;
}

h1 {
    font-family: $header-font; 
    line-height: 1.15;
    color: $text-color;
    font-size: 5rem;
    text-shadow:3px 2px 0px #08415C;
}

h3 {
    font-family: $body-font;
    font-size: 2.5rem;
    margin-top: 10%;
    margin-bottom: 7%;
    text-shadow:1px 1px 0px $accent-two;
}

p {
    font-size: 2rem;
}
 
section.questions {
    max-width: 100%;
    padding-top: 2%;
    padding-bottom: 10%;
}
// section.results {
//     background: $main-color;
//     color: $text-color;
// }

span.result {
//styling for result word
    color: $accent-two;
}
 

.hidden {
    display: none;
}

.show {
    display: block;
}

footer {
    text-align: center;
    width: 100%;

    p {
        font-size: 1rem;
        text-shadow:1px 1px 0px $accent-two;
    }
    .fas {
        color: #3D2F87;
        font-size: 1.2rem;
        text-shadow: none;
    }
}

//for buttons, use 2 accent colors, one for hover state