form {
    background: $accent-two;
    color: $text-color;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%; 
    margin-bottom: 10%;
    -webkit-box-shadow: -9px 13px 0px 0px rgba(1,22,39,0.9);
    -moz-box-shadow: -9px 13px 0px 0px rgba(1,22,39,0.9);
    box-shadow: -9px 13px 0px 0px rgba(1,22,39,0.9);
    font-family: $body-font;
    text-align: center;

    p { 
        margin-bottom: 0;
        margin-top: 10px;
    }
}


fieldset {
    padding-top: 7%;

    label {
        font-size: 1.5rem;
    }
}

fieldset.optimist, fieldset.dramatic {
    border: none;
}

fieldset.outdoorsy {
    border-top: 2px solid $accent-one;
    border-bottom: 2px solid $accent-one;
    border-right: none;
    border-left: none;
}

.submit {
    margin-top: 50px;
    width: 100%;
    transition: width 2s, box-shadow 1s;
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
        border: none;
        background: $accent-one;
        padding: 11px;
        width: 240px;
        border-radius: 2%;
        font-size: 1.75rem;
        color: $text-color;
        font-family: $body-font;
        -webkit-box-shadow: 3px 7px 35px -6px $text-color;
        -moz-box-shadow: 3px 7px 35px -6px $text-color;
        box-shadow: 3px 7px 35px -6px $text-color;
        transition: width 0.5s, box-shadow 1s, background 0.5s;
    }

    input:hover {
        width: 275px;
        box-shadow: none;
        background: #8D99AE;
    }
}

#optimist-yes, #dramatic-yes, #outdoorsy-yes {
    margin-right: 20px;
}