/*Tachyons CSS UI Library used. The below  customization is code written outside of Tachyons */

.font-serif {
  font-family: 'IM Fell Double Pica', serif;  
}

.font-cursive {
  font-family: 'Merienda', cursive; 
}

form {
  color: #3E1D70;
} 

.hidden {
  display: none;
}

.show {
  display: block;
}

#submit-btn {
  background: #3E1D70;
} 

div.questions-wrapper {
  margin: 0 auto;
}

/* Arrow animation => Adapted from https://codepen.io/colinkeany/pen/wBOQQZ */

.fa {
  color: #fff;
  animation-name:arrow;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-name:arrow;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
}

@keyframes arrow
	{
	0%   {bottom:0;}
	75% {bottom:50px;}
	100% {bottom:0;}
	}
@-webkit-keyframes arrow
	{
	0%   {bottom:0;}
  75% {bottom:50px;}
	100% {bottom:0;}
  }


