article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  background: #33f;
  color: #FDFFFC;
  font-size: 2rem;
  font-family: "Kalam", cursive;
  line-height: 1.6; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60vw;
  margin: 0 auto; }

/* 
-think of warm colours vs cool
- bright & darker background
-white text
form - change color to orange
-make sure contrast is good for accessibility
- can add a harsh shadow
*/
header {
  text-align: center;
  padding-top: 10%;
  height: 100vh; }

h1 {
  font-family: "Alegreya", serif;
  line-height: 1.15;
  color: #FDFFFC;
  font-size: 5rem;
  text-shadow: 4px 2px 2px #011627; }

h3 {
  font-family: "Kalam", cursive;
  font-size: 2.5rem;
  margin-top: 10%;
  margin-bottom: 7%;
  text-shadow: 2px 1px 0px #011627; }

p {
  font-size: 2rem; }

section.questions {
  max-width: 100%;
  padding-top: 2%;
  padding-bottom: 15%; }

span.result {
  color: #011627; }

.hidden {
  display: none; }

.show {
  display: block; }

footer {
  text-align: center;
  width: 100%; }
  footer p {
    font-size: 1.2rem; }
  footer .fas {
    color: #bc0c40;
    font-size: 1.2rem; }

form {
  background: #FDFFFC;
  color: #011627;
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-shadow: -4px 4px 5px 0px #011627;
  -moz-box-shadow: -4px 4px 5px 0px #011627;
  box-shadow: -4px 4px 5px 0px #011627;
  font-family: "Kalam", cursive;
  text-align: center; }

fieldset label {
  font-size: 1.5rem; }

fieldset.optimist, fieldset.dramatic {
  border: none; }

fieldset.outdoorsy {
  border-top: 2px solid #bc0c40;
  border-bottom: 2px solid #bc0c40;
  border-right: none;
  border-left: none; }

.submit {
  margin-top: 50px;
  width: 100%;
  -webkit-transition: width 2s, -webkit-box-shadow 1s;
  transition: width 2s, -webkit-box-shadow 1s;
  -o-transition: width 2s, box-shadow 1s;
  transition: width 2s, box-shadow 1s;
  transition: width 2s, box-shadow 1s, -webkit-box-shadow 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .submit input {
    border: none;
    background: #bc0c40;
    padding: 11px;
    width: 200px;
    border-radius: 2%;
    font-size: 1.75rem;
    color: #FDFFFC;
    font-family: 'Kalam', cursive;
    -webkit-box-shadow: 3px 7px 35px -6px #011627;
    -moz-box-shadow: 3px 7px 35px -6px #011627;
    box-shadow: 3px 7px 35px -6px #011627;
    -webkit-transition: width 0.5s, background 0.5s, -webkit-box-shadow 1s;
    transition: width 0.5s, background 0.5s, -webkit-box-shadow 1s;
    -o-transition: width 0.5s, box-shadow 1s, background 0.5s;
    transition: width 0.5s, box-shadow 1s, background 0.5s;
    transition: width 0.5s, box-shadow 1s, background 0.5s, -webkit-box-shadow 1s; }
  .submit input:hover {
    width: 250px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #011627; }

form p {
  margin-bottom: 0;
  margin-top: 10px; }

#optimist-yes, #dramatic-yes, #outdoorsy-yes {
  margin-right: 20px; }
